ion-content {
    --background: url(/assets/img/cd.jpg) no-repeat center/cover fixed;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

  }



ion-fab-button {
    height: 70px;
    width: 70px;
  }